@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Libre Franklin', sans-serif;
    width: auto;
    max-width: 1440px;
    height: 100%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 18%, 96%);
}

main {
    line-height: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 90%;
    font-size: 20px;
    width: 700px;
    color: hsl(0, 0%, 59%);
    /* align-items: center; */
    text-align: center;
}

span {
    font-weight: 700;
    color: black;
}

p {
    color: hsl(209, 33%, 12%);
}

main p:first-of-type {
    font-size: 14px;
    font-weight: 600;
}

h1 {
    font-weight: 300;
}

img {
    width: 10%;
    margin-bottom: 2rem;
}

.bg-img {
    background-image: url("./images/illustration-dashboard.png");
    background-size: 70%;

    background-repeat: no-repeat;
    background-position: center;
    /* width: 70%; */
    height: 400px;
    margin: 0;
}

form {
    margin: 2rem;
}

form input {
    border-radius: 20px;
    width: 50%;
    height: 2.5rem;
    padding: 1rem;
    border: 0.11px solid rgb(214, 201, 201);
}

em {
    position: relative;
    right: 6rem;
    top: 10px;
    display: block;
    font-size: 12px;
    color: hsl(354, 100%, 66%);
}

.error {
    display: none;
}

form button {
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
    height: 2.5rem;
    border: 0.1px solid rgb(214, 201, 201);
    background-color: hsl(223, 87%, 63%);
    color: white;
}
button:hover{
    background-color: hsl(223, 100%, 88%);
}
.icons {
    padding: 2rem;
}

.icons a {
    border: 1px solid rgb(233, 218, 218);
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    color: hsl(223, 87%, 63%);
    margin: 5px;
}

.icons a:hover {
    background-color: hsl(223, 87%, 63%);
    color: white;
}

.foot {
    margin: 0;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}

::placeholder {
    color: hsl(0, 0%, 59%);
    opacity: 0.5;
}

@media screen and (max-width:600px) {

    html,
    body {
        width: 100%;
        max-width: 375px;
        height: 100%;
    }

    main {
        gap: 1rem;
        height: auto;
        font-size: 15px;
        width: 100%;
        align-items: center;
    }

    img {
        width: 50%;
        margin: 1rem;
    }

    .bg-img {
        background-size: 100%;
        width: 100%;
        height: 15rem;
        margin: 0;
    }

    form {
        gap: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    form input {
       width: 300px;
    }

    form button {
        width: 300px;
    }

    em { right: 1rem;}
}